<div class="topcoat-list">
  <h3 class="topcoat-list__header">
  	<div class="wrap">
    {{#with accomplishment}}
      <div class="header-left">
  		  <strong>{{user.firstname}} {{user.lastname}}</strong> accomplished something!
  		</div>
  		<div class="header-right">
  			{{ updated }}
  		</div>
    {{/with}}
  	</div>
  </h3>
  <ul class="topcoat-list__container">
    {{#with accomplishment}}
    <li class="accomplishment-body topcoat-list__item">
      <div class="text-holder">
        {{text}}
      </div>
      <div class="signature">
        &mdash; {{user.firstname}} {{user.lastname}}
      </div>
    </li>
    {{/with}}

    {{#if noComments}}
    <li class="js-load-comments topcoat-list__item">
      Load Comments
    </li>
    {{/if}}

    {{#if loadingComments}}
    <li class="loading-comments topcoat-list__item">
      Loading Comments..
    </li>
    {{/if}}

    {{#each comments}}
    <li class="comment-body topcoat-list__item">
      <div class="text-holder">
        {{text}}
      </div>
      <div class="signature">
        &mdash; {{user.firstname}} {{user.lastname}}
      </div>
    </li>
    {{/each}}
  </ul>
</div>
