<div class="text-holder">
  {{{text}}}
</div>
<div class="signature-wrap">
  <div class="signature-left">
    <div class="signature-relative-date js-update-signature-relative-date">
     {{ relativeDate }}
    </div>
    <div class ="signature-real-hidden-date">
      <span class="js-long-date">{{ fullDate }}</span>
      <span class="js-short-date"> {{ shortDate }}</span>
    </div>
  </div>
  <div class="signature-right">
    <strong>{{user.firstname}} {{user.lastname}}</strong>
  </div>
</div>
