<div class="text-holder">
  {{text}}
</div>
<div class="signature wrap">
  <div class="signature left signature-left">
    <div class="comment-relative-date">
      {{ relativeDate }}
    </div>
    <div class ="comment-real-hidden-date">
      {{ updated }}
    </div>
  </div>
  <div class="signature right">
    &mdash; {{user.firstname}} {{user.lastname}}
  </div>
</div>
